/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

.kontejner{
	display: grid;
	grid-template-columns: 300px 1fr 200px;
	grid-template-rows: 25% 70% 15%;
	gap: 10px;
}

.hlavicka{
	grid-column: 1 / span 3;
}

.hlavni{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.paticka{
	grid-column-start: 1;
	grid-column-end: 4;
}