/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/*************************************************/

/*
CSS Selektory:

::first-letter		první písmeno
::first-line		první řádek

::before	vnitř prvku, před obsahem
::after		uvnitř prvku, za obsahem
*/

p::first-letter{
	font-size: 50px;
	line-height: 1;
	color: blue;
	font-weight: 600;
	float: left;
	margin-right: 15px;;
}

p::first-line{
	color: lightseagreen;
}