/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/*************************************************/

/*
CSS Selektory:

::first-letter		první písmeno
::first-line		první řádek

::before	vnitř prvku, před obsahem
::after		uvnitř prvku, za obsahem
*/

/* p::first-letter{
	font-size: 50px;
	line-height: 1;
	color: blue;
	font-weight: 600;
	float: left;
	margin-right: 15px;;
}

p::first-line{
	color: lightseagreen;
} */

h2::before{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: lightskyblue;
	padding: 5px;
	margin-right: 10px;
	border: 2px solid rgb(19, 19, 61);
}

h2::after{
	content: ":)";
	background-color: aqua;
	color: darkcyan;
	padding: 15px;
}